{% extends "base.twig" %}
{% block styles %}
    {{ parent() }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ base_url() }}/assets/js/homepage.js"></script>
{% endblock %}

{% block title %}
    PWPOP
{% endblock %}

{% block buttons %}
     <div class="col-md-9 text-right">
         <button  style="margin-right: 11px" type="button" class="btn btn-light" onclick="location.href='/login'">Log In</button>
         <button  style="margin-right: 11px"type="button" class="btn btn-outline-light" onclick="location.href='/register'" >Sign Up</button>


     <button id="searchBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchModal" >
         <span class="fa fa-search"></span>
         Search
     </button>
     </div>
{% endblock %}

{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="searchModal" role="dialog" tabindex="-5" role="dialog">
        <div class="modal-dialog" >

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Search your product</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="TitleInput">Title</label>
                            <input type="text" class="form-control" id="TitleInput" placeholder="Title">
                        </div>

                        <div class="form-group">
                            <label for="TitleInput">Select your product:</label>
                            <div class="dropdown">
                                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Products
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Tecnología</a>
                                    <a class="dropdown-item" href="#">Ropa</a>
                                    <a class="dropdown-item" href="#">Juguetes</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Min">Min</label>
                                <input type="number" class="form-control" min="0.00" max="10000.00" step="0.01" placeholder="MIN"/>
                            </div>
                            <div class="form-group">
                                <label for="Max">Max</label>
                                <input type="number" class="form-control" min="0.00" max="10000.00" step="0.01" placeholder="MAX"/>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!--
    <div class="modal fade modal-dialog-centered" id="loginModal">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Login</h4>
            </div>

            <div class="modal-body">
                <form id="form" class="form_content" action="" method="POST" enctype="multipart/form-data">
                    Name:<br>
                    <input type="text" name="name" placeholder="Username"><br>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Login</button>
            </div>
        </div>
    </div>-->



{% endblock %}

{% block header %}
     <h1>PWPOP</h1>
 {% endblock %}


{% block content %}
    <div class="album py-6 bg-light">
        <div class="container">
            <div class="row">
                {% for product in products %}
                    {% if product.isActive==1 %}
                    {% if product.id<=7 %}
                        <div class="col-md-4">

                            <div class="card mb-4 shadow-sm">

                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                     xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                                     role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title>
                                    <rect width="100%" height="100%" fill="#55595c"></rect>
                                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                                </svg>

                                <div class="card-body">

                                    <h5 id="title" class="title">{{ product.title }} </h5>

                                    <p class="descripton">{{ product.description }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="price">{{ product.price }}€</small>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% endif %}
                {% endfor %}


            </div>
        </div>
    </div>

{% endblock %}




