{% extends "base.twig" %}


{% block styles %}
    {{ parent() }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js" ></script>
    <script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
    <script src="../assets/js/log.js"></script>
{% endblock %}


{% block title %}
    Login
{% endblock %}

{% block header %}
    <h1>PWPOP</h1>
{% endblock %}


{% block content %}
    <h1 >Login form</h1>

    {% if reg_ok %}

        Registration went ok!

    {% endif %}
    <div class="container">
        <form id="form" action="{{ path_for('login') }}" method="POST" enctype="multipart/form-data" >

            <div class="form-group">
                <label for="email">Email/username</label>
                <input class="form-control input-lg" type="text" name="login" id="login" placeholder="juanita@gmail.com or lajuani24" />
                <div class="invalid">

                    {% if errors is defined %}
                        {{ errors['email'] }}
                        {{ errors['username'] }}

                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control input-lg" type="password" name="password" placeholder="*******" />
                <div class="invalid">
                    {% if errors is defined %}
                        {{ errors['password'] }}
                    {% endif %}
                </div>
            </div>
            <div class="form-group">

                <input type="checkbox" name="rememberme" > Remember me<br>
            </div>
            <div class="form-group">
                <div class="invalid">
                    {% if bbdderrors is defined %}
                        {{ bbdderrors }}
                    {% endif %}
                </div>

            </div>
            <div class="form-group">

                <button class="btn btn-primary" onclick="onclick2()" type="submit">Log in</button>
            </div>

            {% if isenabled is defined %}
                {% if not isenabled  %}
                <div class="form-group">
                    <div class="alert alert-warning" role="alert">
                        Please check your email or click <a>here</a>
                    </div>
                </div>
                {% endif %}
            {% endif %}


        </form>
    </div>






{% endblock %}

{% block footer %}
{% endblock %}