{% extends "baseLogged.twig" %}

{% block styles %}
    {{ parent() }}

{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
    <script src="{{ base_url() }}/assets/js/product.js"></script>
    {{ parent() }}

{% endblock %}


{% block title %}
    Upload product
{% endblock %}

{% block buttons %}
    <div class="col-md-1 text-right">
        <a onclick="location.href = '/profile'">
            <img src="{{ base_url() }}/uploads/defaultProfile.png" id="profileImageLink">
        </a>
    </div>

    {{ parent() }}
{% endblock %}

{% block header %}
    <h1>PWPOP</h1>
{% endblock %}

{% block modal %}
    <div class="modal fade" id="searchModal" role="dialog" tabindex="-5" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Search your product</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="TitleInput">Title</label>
                            <input type="text" class="form-control" id="TitleInput" placeholder="Title">
                        </div>

                        <div class="form-group">
                            <label for="TitleInput">Select your product:</label>
                            <div class="dropdown">
                                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Products
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Tecnología</a>
                                    <a class="dropdown-item" href="#">Ropa</a>
                                    <a class="dropdown-item" href="#">Juguetes</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Min">Min</label>
                                <input type="number" class="form-control" min="0.00" max="10000.00" step="0.01"
                                       placeholder="MIN"/>
                            </div>
                            <div class="form-group">
                                <label for="Max">Max</label>
                                <input type="number" class="form-control" min="0.00" max="10000.00" step="0.01"
                                       placeholder="MAX"/>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="productModal" role="dialog" tabindex="-5">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <div class="col-md-6">
                        <img id="productImage" src="{{ base_url() }}/uploads/products/catto.jpg">
                    </div>
                    <div class="col-md-6" style="vertical-align: middle;">
                        <input class="form-control" type="text" name="title" id="title">
                    </div>
                </div>

                <div class="modal-body">

                    <form id="form" class="form_content" action="{{ path_for('upload') }}" method="POST" enctype="multipart/form-data">

                        <div class="form-group">
                            <label for="comment">Description:</label>
                            <textarea name="description" class="form-control" rows="3" id="comment"></textarea>
                        </div><br>

                        <div class="input-group mb-9">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Price &euro;</span>
                            </div>
                            <input  name="price" type="text" class="form-control" aria-label="Amount" id="price">
                        </div><br>

                        <label>Select Product:</label><br>
                        <select class="product" name="category" id="category">
                            <option class="dropdown-item" value="Computers and electronic">Computers and electronic</option>
                            <option class="dropdown-item" value="Cars">Cars</option>
                            <option  class="dropdown-item" value="Sports">Sports</option>
                            <option  class="dropdown-item" value="Games">Games</option>
                            <option  class="dropdown-item" value="Fashion">Fashion</option>
                            <option  class="dropdown-item" value="Home">Home</option>
                            <option  class="dropdown-item" value="Other">Other</option>
                        </select>
                        <br><br>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-dismiss="modal">cancel</button>
                            <button type="submit" class="btn btn-outline-primary">Update Info</button>
                            <button type="button" class="btn btn-link" id="deleteButton" data-toggle="modal" data-target="#deleteModal">Delete Product</button>
                        </div>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Delete account</h4>
                </div>

                <div class="modal-body">
                    <label>Are you sure you want to delete your account?</label>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal" data-target="#productModal">cancel</button>
                    <!--<button type="submit" class="btn btn-danger" id="deleteButtonConfirm">Delete</button>-->
                    <form id="form" class="form_content" action="{{ path_for('update') }}" method="POST" enctype="multipart/form-data">

                        <input type="submit" name="delete" id="delete" value="Delete" /><br/>

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block content %}
    <h1 class="form_title">My products</h1>

    <div class="album py-6 bg-light">
        <div class="container">
            <div class="row">
                {% for product in products %}
                    {% if product.userid==id%}
                        {% if product.isActive==1%}

                            <div class="col-md-4">

                                <div class="card mb-4 shadow-sm">
                                    <!--<a title="ejemplo" href="/product_review{{ product.id }}">-->

                                    <a title="ejemplo" onclick=showInfo({{ product.id }})>
                                        {% set foo =product.product_image|split('/') %}
                                        <img src="/uploads/products/{{ foo[0] }}" id="fotoprod" >
                                    </a>

                                    <div class="card-body">

                                        <h5 id="title" class="title">{{ product.title }} </h5>


                                    </div>
                                </div>
                            </div>
                        {% endif %}

                    {% endif %}
                {% endfor %}


            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}