{% extends "base.twig" %}

{% block styles %}
    {{ parent() }}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ base_url() }}/assets/js/profilepage.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

{% endblock %}

{% block title %}
    Profile
{% endblock %}

{% block buttons %}
    <div class="col-md-3 text-right">
        <button type="button" class="btn btn-outline-light" onclick="location.href='/'" >Logout</button>
    </div>

    <button  id="myBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" >
        <span class="fa fa-search"></span> Search
    </button>
{% endblock %}

 {% block header %}
     <h1>PWPOP Profile</h1>
 {% endblock %}


{% block content %}
    <!--<div class="row" style="margin: 0;padding: 0;width: 100%;">-->
    <p class="text-center" style="padding: 3em;">User information:</p>

    <div class="row" style="max-height: 100%; align-items: center;">

        <div class="col-md-5">
            <img src="{{ base_url() }}/assets/images/defaultProfile.png" style="height: 200px; width: 200px;">
        </div>
        <div class="col-md-2" >
            <ul class="list-group list-group-flush">
                <li class="list-group-item"id="profileName">Name</li>
                <li class="list-group-item disabled">Username</li>
                <li class="list-group-item">Email</li>
                <li class="list-group-item">Password</li>
                <li class="list-group-item">Birthdate</li>
                <li class="list-group-item">Phone Number</li>
            </ul>
        </div>

        <div class="col-md-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">name_surname</li>
                <li class="list-group-item disabled">username123456789000</li>
                <li class="list-group-item">user1234@gmail.com</li>
                <li class="list-group-item">********</li>
                <li class="list-group-item">1/1/1996</li>
                <li class="list-group-item">123 456 789</li>
            </ul>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div style="padding-top: 5em;">
        <button  id="deleteBtn" type="button" class="btn btn-link" style="color: red;text-decoration: none;" data-toggle="modal" data-target="#deleteModal" >
            <span class="fa fa-search"></span>
            Delete Account
        </button>
    </div>


{% endblock %}
{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" role="dialog" tabindex="-5" role="dialog">
        <div class="modal-dialog" >

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Are you sure?</h4>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete these records? This process cannot be undone.</p>
                </div>
                <div class="modal-footer">

                    <form id="form" class="form_content" action="{{ path_for('update') }}" method="POST" enctype="multipart/form-data">

                    <input type="submit" name="delete" id="delete" value="Delete" /><br/>

                    </form>
                </div>
            </div>

        </div>
    </div>




{% endblock %}

{% block footer %}
{% endblock %}